.text {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    margin-bottom: 1rem;
}

.button {
    margin-left: 2rem !important;
    position: absolute;
    bottom: 30px;
}

.title {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    font-family: Poppins !important;
    font-size: 25px !important;
    font-weight: bold !important;
}
.authorname {
    margin-left: 2rem !important;
    margin-right: 1rem !important;
    font-size:1.1rem !important;
    font-weight: bold !important;
    color: red !important;
}

.company {
    margin-left: 2rem !important;
    font-size:1rem !important;
    color: #7e7b7b;
}

.date {
    font-size:1rem !important;
    color: #7e7b7b;
}