.images {
    max-height: 3rem;
    max-width: 13rem;
    margin-bottom: 0.5rem;
}

.lastline {
    width: 90%;
    border-top: 0.5px solid rgb(170, 165, 165);
    margin-top: 3rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.subtitle {
    font-size:1rem !important;
    color: #7e7b7b;
}

.title {
    font-size:1rem !important;
    font-weight: 600;
}