.images {
    max-height: 2.5rem;
    max-width: 10rem;
    margin-left: 1.5rem;
}
.imagecontainer {
    margin-top: 2rem;
}

.line {
    margin-top: -5px;
    margin-left: 2px;
    margin-right: 2px;
    font-stretch: ultra-condensed;
    color: red;
}

.mainImage {
    min-width: 35rem;
    max-width: 35rem;
    min-height: 35rem;
    max-height: 35rem;
    height: 35rem;
    object-fit: contain;
}

.container {
    align-items: center;
    padding-bottom: 2rem;
    margin-top: 3rem;
}